{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <div id="TopRack">
        <button class="btn btn-primary btn-sm" id="newPostButton">New Post</button>
    </div>
    <script>
        newPostButton = document.querySelector("#newPostButton");
        newPostButton.addEventListener('click',()=>loadPage("CreatePost"));
    </script>
    {% endif %}

    <div class="pages" id="CreatePost">
        <form action="{% url 'createpost' %}" method="post">
            {% csrf_token %}
            <textarea name="content"></textarea>
            <input class="btn btn-primary btn-sm" type="submit">
        </form>
    </div>

    <div class="pages" id="AllPosts"></div>
    <hr>
    <div id="paginatory"></div>

    <script src="{% static 'network/views.js' %}"></script>
    <script src="{% static 'network/reactui.js' %}" type="text/babel"></script>
{% endblock %}