{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="UserBody">
        <div id="username">
            {{username}}
        </div>
        <div>
            {% if user.is_authenticated and user.username != username %}
            <form action="{% url 'follow' username %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" type="submit">{% if follow_status %} Unfollow {% else %} Follow {% endif %}</button>
            </form>
            {% endif %}
        </div>
        <div id="belowFollowButton">
            <div>Followers: {{followers}}</div> <div>Following: {{following}}</div> <div>Posts: {{postcount}}</div>
        </div>
        <div>
            {% for post in posts %}
            <div class="post">
                <i>{{post.time}}</i>
                <div id="toHide{{post.id}}">
                <p id="toupdate{{post.id}}">{{post.content}} </p>
                <p id="post{{post.id}}">Likes: {{post.likecount}}</p>
                {% if user.is_authenticated %}
                <form id="{{post.id}}form" onsubmit="LikePost({{post.id}}); return false">

                    <button class="btn btn-primary btn-sm" id="button{{post.id}}" type="submit">
                        {% if post.liked %}
                            Unlike
                        {% else %}
                            Like
                        {% endif %}
                    </button>
                    <input type="hidden" name="id" value="{{post.id}}">
                </form>
                </div>
                {% if user.id == post.poster_id %}
                    <button class="btn btn-primary btn-sm" id="editButton{{post.id}}" onclick="editpost({{post.id}})">Edit</button>
                    <form id="editForm{{post.id}}" style="display:none">
                        <textarea id="editText{{post.id}}" name="post_content">{{post.content}}</textarea>
                        {% csrf_token %}
                        <input class="btn btn-primary btn-sm" onclick="editPostSubmit({{post.id}})" type="button" value="Done">
                    </form>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
        {% if pagecount > 1 %}
        <div id="paginatory">
            Page: {{page}}
            <form id="prevButtonForm">
                <button class="btn btn-primary btn-sm" type="submit">Prev</button>
                <input type="hidden" name="page" value="{{page|add:-1}}">
            </form>
            <form action="/user/{{username}}" id="nextButtonForm" method="GET">
                <button class="btn btn-primary btn-sm" type="submit">Next</button>
                <input type="hidden" name="page" value="{{page|add:1}}">
            </form>

        </div>
        {% endif %}
        <script src="{% static 'network/userpage.js' %}"></script>
{% endblock %}