{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="UserBody">
        <div id="username">
            {{username}}
        </div>
        <div>
            {% if user.is_authenticated and user.username != username %}
            <form action="{% url 'follow' username %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" type="submit">{% if follow_status %} Unfollow {% else %} Follow {% endif %}</button>
            </form>
            {% endif %}
        </div>
        <div id="belowFollowButton">
            <div>Followers: {{followers}}</div> <div>Following: {{following}}</div> <div>Posts: {{postcount}}</div>
        </div>
        <div>
            {% for post in posts %}
            <div class="post">
                <i>{{post.time}}</i>
                <p>{{post.content}} </p>
                <p id="{{post.id}}likes">Likes: {{post.likecount}}</p>
                {% if user.is_authenticated %}
                <form onsubmit="LikePost({{post.id}}); return false">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" id="{{post.id}}button" type="submit">
                        {% if post.liked %}
                            Unlike
                        {% else %}
                            Like
                        {% endif %}
                    </button>
                    <input type="hidden" name="id" value="{{post.id}}">
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
        {% if pagecount > 1 %}
        <div id="paginatory">
            Page: {{page}}
            <form action="/user/{{username}}" id="nextButtonForm" method="GET">
                <button class="btn btn-primary btn-sm" type="submit">Next</button>
                <input type="hidden" name="page" value="{{page|add:1}}">
            </form>
            <form id="prevButtonForm">
                <button class="btn btn-primary btn-sm" type="submit">Prev</button>
                <input type="hidden" name="page" value="{{page|add:-1}}">
            </form>
        </div>
        {% endif %}
        <script src="{% static 'network/userpage.js' %}"></script>
{% endblock %}