{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="UserBody">
        <div id="username">
            {{username}}
        </div>
        <div>
            {% if user.is_authenticated and user.username != username %}
            <form action="{% url 'follow' username %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" type="submit">{% if follow_status %} Unfollow {% else %} Follow {% endif %}</button>
            </form>
            {% endif %}
        </div>
        <div id="belowFollowButton">
            <div>Followers: {{followers}}</div> <div>Following: {{following}}</div> <div>Posts: {{postcount}}</div>
        </div>
        <div>
            {% for post in posts %}
            <div class="post">
                <i>{{post.time}}</i>
                <p>{{post.content}} </p>
                Likes: {{post.likecount}}
                {% if user.is_authenticated %}
                <form action="{% url 'likePost' post.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" type="submit">Like</button>
                    <input type="hidden" name="id" value="{{post.id}}">
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="paginatory">
        {% if pagecount > 1 %}
            Page: {{page_no}}
            <button class="btn btn-primary btn-sm"></button>
        {% endif %}
    </div>
{% endblock %}