#TopRack {
    text-align:right;
}
#TopRack * {
    margin-right:10px;
    margin-bottom:7px;
}

.post {
    border:1px solid black;
    margin:10px;
    padding:3px;
}

#CreatePost textarea {
    margin:10px;
    height:5cm;
    width:70%;
}

@keyframes enterFromLeft {
    0% {
        opacity: 0;
        padding-left: 0px;
    }

    100% {
        opacity: 1;
        padding-left: 1cm;
    }
}

@keyframes enterFromTop {
    0% {
        opacity: 0;
        margin-bottom: cm;
    }

    100% {
        opacity: 1;
        margin-bottom: 0;
    }
}

#username {
    font-size:36px;
    font-weight:bold;
    padding:10px;
    padding-left:1cm;
    animation-name: enterFromLeft;
    animation-duration:2s;
}


.navbar {

}